<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Профиль</title></head>
<body>
<h1>Профиль</h1>

<div th:if="${user != null}">
    <p><b>ID:</b> <span th:text="${user.id}">1</span></p>
    <p><b>Username:</b> <span th:text="${user.username}">user</span></p>
    <p><b>Email:</b> <span th:text="${user.email}">mail@x</span></p>
    <p><b>Age:</b> <span th:text="${user.age}">30</span></p>
    <p><b>Roles:</b>
        <span th:each="r : ${user.roles}"
              th:text="${#strings.replace(r.name,'ROLE_','')}"
              style="margin-right:6px">USER</span>
    </p>
</div>

<form th:action="@{/logout}" method="post" style="margin-top:16px">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <button type="submit">Выйти</button>
</form>
</body>
</html>